$primary: #1F3A2B;
$secondary: #ACA79E;
$tertiary: #809288;
$quaternary: #FAC923;
$dark: #555148;

$font-family-sans-serif: "Amarante", sans-serif !default;
$font-family-serif: "Amaranth", serif !default;

html{
    position:relative;
    min-height:100%;
    background-color: #d9d7cf;
}

nav.navbar{
    a{
        font-family: $font-family-serif;

        @media (min-width: 2560px) {
            font-size: 30px;
        }
    }
}




main{
    margin-bottom: 220px;
    @media (min-width: 2560px) {
        margin-bottom: 300px;
  }
}

header{
    padding: auto;
}




footer.footer {
    font-family: $font-family-serif;
    color: #FAC923 !important; 
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5em;
}

footer{
    a{
        color: #FAC923 !important;
    }
}

.navbar-brand{
    img{
        @media (min-width: 2560px) {
            height: 150px;
            width: 150px;
        }
    }
}

@import "../node_modules/bootstrap/scss/bootstrap";

