


$primary: #1F3A2B;
$secondary: #ACA79E;
$tertiary: #809288;
$quaternary: #FAC923;
$dark: #555148;

$font-family-sans-serif: "Amarante", sans-serif !default;
$font-family-serif: "Amaranth", serif !default;

p{
    font-family: $font-family-serif !important;
    font-size: 18px;
}

li {
    font-family: $font-family-serif !important;
    font-size: 18px;
}

a{
    font-family: $font-family-serif !important;
    font-size: 18px;
}

@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';