
@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';




p{
    font-family: $font-family-serif !important;
    font-size: 18px;
    @media (min-width: 992px) {
        font-size: 1.5rem;
    }
    @media (min-width: 2560px) {
        font-size: 2rem;
    }
}

li {
    font-family: $font-family-serif !important;
    @media (min-width: 992px) {
        font-size: 1.5rem;
    }
    @media (min-width: 2560px) {
        font-size: 2rem;
    }
}

a{
    font-family: $font-family-serif !important;
    font-size: 18px;
    @media (min-width: 992px) {
        font-size: 1.2rem;
    }
    @media (min-width: 2560px) {
        font-size: 2rem;
    }
}
.form-label{
    color: $primary !important;
    @media (min-width: 992px) {
        font-size: 1.5rem;
    }
    @media (min-width: 2560px) {
        font-size: 2rem;
    }
}

@import "../scss/home.css";
@import "../scss/menus.css";
@import "../scss/signin.css";